<form #form="ngForm" (ngSubmit)="onSubmit()">
  <mat-card class="memory-card">
    <mat-card-title>
      Agregar Toma!!
    </mat-card-title>
    <mat-card-content>
      <mat-form-field class="full-width">
        <input readonly matInput placeholder="Fecha de la Toma" [(ngModel)]="gluco.date" name="date" [matDatepicker]="date">
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker touchUi disabled="false" #date></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="media-width">
        <input class="input-margin" matInput type="number" placeholder="Antes del Desayuno" [(ngModel)]="gluco.beforeBreakfast" name="beforeBreakfast">
      </mat-form-field>
      <mat-form-field class="media-width">
        <input class="input-margin" matInput type="number" placeholder="Despues del Desayuno" [(ngModel)]="gluco.afterBreakfast" name="afterBreakfast">
      </mat-form-field>
      <mat-form-field class="media-width">
        <input class="input-margin" matInput type="number" placeholder="Antes del Desayuno" [(ngModel)]="gluco.beforeLunch" name="beforeLunch">
      </mat-form-field>
      <mat-form-field class="media-width">
        <input class="input-margin" matInput type="number" placeholder="Antes del Desayuno" [(ngModel)]="gluco.afterLunch" name="afterLunch">
      </mat-form-field>
      <mat-form-field class="media-width">
        <input class="input-margin" matInput type="number" placeholder="Antes del Desayuno" [(ngModel)]="gluco.beforeDinner" name="beforeDinner">
      </mat-form-field>
      <mat-form-field class="media-width">
        <input class="input-margin" matInput type="number" placeholder="Antes del Desayuno" [(ngModel)]="gluco.afterDinner" name="afterDinner">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-card-actions>
  </mat-card>
</form>