<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon class="size-big">account_circle</mat-icon>
        <span class="spanEmail">{{ email }}</span>
      </button>
      <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/profile']">Perfil</button>
        <button mat-menu-item (click)="logoff()">
          <mat-icon>power_settings_new</mat-icon>
          <span>Cerrar Sesion</span>
        </button>
      </mat-menu>
      <a mat-list-item [routerLink]="['/home']"><mat-icon>home</mat-icon><span class="margin-span">Inicio</span></a>
      <a mat-list-item [routerLink]="['/new']"><mat-icon>add_circle</mat-icon><span class="margin-span">Agregar</span></a>
      <a mat-list-item [routerLink]="['/list']"><mat-icon>format_list_bulleted</mat-icon><span class="margin-span">Listar</span></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Control Tiras de Glucometria</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>