.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.container > * {
  width: 100%;
}

.margin-span {
  margin-left: 5%;
}

.size-big {
  font-size: 50px !important;
}

.spanEmail {
  display: block;
  margin-top: 5%;
}